@media screen and (max-width:576px) {
    header,
    main{
        padding: 5px;
    }
    .nav-links{
        display: none;
    }
    .navbar {
        align-items: center;
    }
    .hamburg{
        width: 50px;
        height: 50px;
        display: block;
        margin: 8%;
        text-align: center;
        justify-items: center;
    }
    .hamburg i {
        margin-top: 20px;
        transform: scale(2);
        color:#ffffff;
    }
    .banner-btn{
        display: grid;
        grid-template-columns: repeat(2 ,2fr);
    }
    .banner,
    .habits-card,
    .run-container,
    .bmi-container,
    .footer-container-text {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .banner-content h1 {
        font-size: 3rem;
    }
    .banner-image {
        margin-left: 20px;
        width: 90%;
    }
    .box1{
        transform: translateX(-10px) translateY(400px);
    }
    .box2{
        transform: translateX(40px) translateY(80px);
    }
    .card,
    .btn-primary,
    .bmi-chart {
        margin-bottom: 30px;
    }
    footer
    .habits,
    .run,
    .teams,
    .teams-container,
    .footer-container {
        margin-top: 5px;
        padding: 0 15px;
    }
    .run-content {
        margin: 30px;
        margin-bottom: 0;
    }
    .run-content button {
        padding:8px 60px ;
    }
    .run-image {
        max-width: 450px;
        width: 80%;
    }
    .title {
        font-size: 2.2rem;
    }
    .run-content button {
        padding: 5px 80px;
        margin-top: 30px;
    }
    .banner-content{
        margin: 10px;
    }
    .bmi-heading,
    .content1,
    .content2,
    .content3 {
        margin: 10px;
        max-width: 90%;
    }
    .bmi-container{
        padding: 20px 10px;
    }
    .banner-content,
    .bmi-chart,
    .bmi-calculate,
    .teams-heading,
    .content2,
    .content3 {
        width: 90%;
    }
    .teams-heading {
        margin: 0 auto;
    }
    .teams-container {
        grid-template-columns: repeat(1,1fr);
    }
}